@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-clash-grotesk: var(--font-clash-grotesk);
  --color-golden-anchor: #d9730b;
  --color-golden-dark: #8c5800;
  --color-beige-anchor: #d4c566;
  --color-beige-shade: #d8d2a9;
  --color-beige-base: #f0eaca;
  --color-beige-tint1: #f7f4de;
  --color-beige-tint2: #fcfaf1; /* yellow series*/
  --color-blue-dark: #5a5e6f;
  --color-blue-anchor: #adb7d9;
  --color-blue-shade: #d3d8eb;
  --color-blue-pink1: #eacaf0;
  --color-blue-pink2: #f5eff7; /* pink blue series*/
  --color-purple-dark: #2b1c89;
  --color-purple-anchor: #4923f4;
  --color-purple-base: #dad3fd;
  --color-purple-blue: #d9eafa;
  --color-purple-tint1: #e6e5ee; /* purple series*/
  --color-gray-beige: #f6f6f3; /* grays series*/
}

/* @theme {
  
 extend: {
      colors: {
          beige: {
            anchor: '#D4C566',
            shade: '#D8D2A9',
            base: '#F0EACA',
            tint1: '#F7F4DE',
            tint2: '#FCFAF1',
              },
          golden: {
            dark: '#8C5800',
            },
     },
  } 
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}
